<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Blocky Modeling (Eclipse 2026-06 + Henshin + Papyrus + MoMoT 2.0)" sequenceNumber="2">
	<!-- 
	  Eclipse platform: simultaneous release 2026-06 (e.g. M1 / 4.40).
	  Papyrus for UML is NOT taken from that composite; use Papyrus-Desktop repo instead:
	    https://download.eclipse.org/modeling/mdt/papyrus/papyrus-desktop/updates/releases/2025-06/
	  (composite aggregates 7.0.0 / 7.1.0; required for Henshin’s Papyrus GMF dependencies.)
	  MoMoT p2 metadata: https://github.com/hadiDHD/momot-2.0/tree/gh-pages/eclipse/updates/latest/develop
	  Deployed MoMoT URL (may redirect from GitHub Pages): dehghani.online (see location below).
	-->
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2026-06/"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/mdt/papyrus/papyrus-desktop/updates/releases/2025-06/"/>
			<unit id="org.eclipse.papyrus.uml.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emft/henshin/updates/release"/>
			<unit id="org.eclipse.emf.henshin.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://www.dehghani.online/momot-2.0/eclipse/updates/latest/develop/"/>
			<unit id="at.ac.tuwien.big.momot.feature.feature.group" version="0.0.0"/>
			<unit id="at.ac.tuwien.big.momot.lang.feature.feature.group" version="0.0.0"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
